<!DOCTYPE html>
<html>
<head>
	<title>Burgers</title>
	<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/assets/css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Oswald|Raleway|Raleway:700" rel="stylesheet">
</head>

<body>

{{{body}}}

</body>

</html>