<header>
	<img src="/assets/images/Burgers.jpg" alt="burgers" class="img-responsive center-block">
	</header>

	<div class="background">

<div class="container">

	<div class="build">
	<div class="row">

    <div class="col-md-6">

		<h2 class="font-weight-bold lead">Let's build the Burger of your Dreams!</h2>
		
		<form class="create-update-form" action="/burgers/create" method="POST">
		 <div class="form-group">
		 	<textarea class="form-control" type="text" name="burger_name" row="3"></textarea>
		 </div>
		 <button class="btn btn-default btn-lg" type="submit">Submit</button>
		</form>
	</div>
	</div>

</div>

<div class="eat">
<div class="row">

	<div class="col-md-10 col-md-offset-1">
	 <div class="panel-panel default">
	 	<h1>~ EAT ME ~</h1>
		 <hr>
	 	<ul class="list-group">
	 		{{#each burgers}}
	 		 {{#unless this.devoured}}
	 		 <li class="list-group-item">
	 		  <div class="input-group">
	 		  	<p class="lead">{{this.burger_name}}</p>
	 		  	<span class="input-group-btn">

	 		  		<form action="burgers/update/{{this.id}}?_method=PUT" method="POST">
	 		  			<input type="hidden" name="devoured" value= "true">
	 		  			<button class="btn btn-default btn-lg" type="submit">Devour!</button>
	 		  		</form>
	 		  	</span>
	 		  </div>
	 		 </li>
	 		 {{/unless}}
	 		{{/each}}
	 	</ul>

	 </div>
	</div>
</div>
</div>

	<div class="devoured">
	<div class="row">
		<div class="col-md-10 col-md-offset-1">
			<h1>~ DEVOURED ~</h1>
			<hr>
			<div class="panel panel-default">
				<ul class="list-group">
					{{#each burgers}}
					 {{#if this.devoured}}
					 <li class="list-group-item">
					 	<p class="lead">{{this.burger_name}}</p>
					 </li>
					 {{/if}}
					  {{/each}}
				</ul>
			</div>
		</div>
	</div>
</div>
</div>
</div>

<footer class="footer navbar-fixed-bottom">
            <div class="container">
              <h6 class="text-center">&copy; Jayna Neilson 2018<h6>
            </div>
          </footer>
        </div>
